@using MortalityClock.Data
@inject AppState AppState

<p>Let us know your birthday and when you think you will die and we will do the rest...</p>

<EditForm Model="@_data" OnValidSubmit="@HandleSubmit">
    <label>Birthday</label>
    <input type="date" @bind="@_data.BirthDate" />
    <br />
    <label>Presumed Life Expectancy</label>
    <input type="number" @bind="years"/>
    <br />
    <button type="submit">Start</button>
</EditForm>



@code {

    private readonly DateModel _data = new DateModel();
    int years;


    void HandleSubmit()
    {
        Console.WriteLine("OnValidSubmit birthday on {0}, until {1}yo",_data.BirthDate, years);

        var diff = _data.BirthDate.AddYears(years).Subtract(DateTime.Now);

        Console.WriteLine("difference of "+ diff);
        AppState.SetState(_data.BirthDate, years);

    }

}
