<h3>Form</h3>
<p>Let us know your birthday and when you think you will die and we will do the rest...</p>

<form>
    <label>Birthday</label>
    <input type="date" />
    <label>death date</label>
    <input type="date" />

    <button type="submit">>Start</button>
</form>
@code {

}
