@using MortalityClock.Data

<h3>Form</h3>
<p>Let us know your birthday and when you think you will die and we will do the rest...</p>

<EditForm Model="@data" OnValidSubmit="@HandleSubmit">
    <label>Birthday</label>
    <input type="date" @bind="@data.BirthDate" />

    <label>Presumed Death Date</label>
    <input type="date" @bind="@data.DeathDate" />
    <br />
    <button type ="submit">Start</button>
</EditForm>



@code {

    private DateModel data = new DateModel(); 


    void HandleSubmit()
    {
        Console.WriteLine("OnValidSubmit {0}, {1}",data.BirthDate, data.DeathDate);
    }

}
