@using MortalityClock.Data
@page "/"
<h1>Mortality Clock</h1>

<Form OnSubmit="SubmitHandler"></Form>
<br />
<Statistics StartDate="StartDate" years ="years"></Statistics>

@code {
    DateTime StartDate;
    int years;


    void SubmitHandler(DateModel data)
    {
        StartDate = data.BirthDate;
        years = data.Years;

    }
}