@using MortalityClock.Data
@page "/"
<h1>Mortality Clock</h1>

<div color="grey">
    <span>@StartDate</span>
    <span>@years</span>
</div>
<Form OnSubmit="SubmitHandler"></Form>
<br />
<Statistics></Statistics>

@code {
    string StartDate = "before form submit";
    string years = "before form submit";

    void SubmitHandler(DateModel data)
    {
        StartDate = data.BirthDate.ToString();
        years = data.Years.ToString();

    }
}