
    <div>
        <p>Statistics</p>
        <div>
            <span>@StartDate</span>
            <span>@years</span>
        </div>
    </div>

@code {
    [Parameter] public DateTime StartDate { get; set; }
    [Parameter] public int years { get; set; }
}
