@inject AppState AppState
@implements IDisposable

@AppState.BirthDate
@AppState.Years 
@AppState.ShouldHide

<div hidden="@AppState.ShouldHide">
    <p>Statistics</p>
</div>

@code {

        protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange += StateHasChanged;
    }

}
